/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Import Fonts */

html,
body {
  font-family: 'Press Start 2P', monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

span.kbd {
  padding: 0.3em 0.6em;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

body canvas {
  transition: all 0.2s;
  background: #f4f7ff;
}

body.inverted canvas {
  background: #3d4356;
}

.touchpad-container {
  padding: 0 15px;
}

#touchpad {
  background: #eee;
  border: 2px dashed #aaa;
  border-radius: 10px;
  height: 150px;
  width: 100%;
  position: relative;
}

.v-center {
  top: 50%;
  text-align: center;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

#touchpad h1, #touchpad h4 {
  color: #999;
  margin: 0;
}
#touchpad h1 {
  color: #999;
  margin: 0;
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set( url(../assets/default_100_percent/100-error-offline.png) 1x, url(../assets/default_200_percent/200-error-offline.png) 2x);
  position: relative;
}


.center {
  text-align: center;
}

.btn-image {
  max-height: 24px;
  margin: 0;
  margin-bottom: -1px;
  margin-right: -5px;
}

.eightbit-btn {
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: px;
  vertical-align: middle;
  padding: 10px 15px;
  margin: 25px 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}

.eightbit-btn.full {
}

.eightbit-btn:hover,
.eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}

.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}

.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.eightbit-btn--reset {
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}
.eightbit-btn--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8C2022;
}
.eightbit-btn--proceed {
  background: #F7D51D;
  box-shadow: inset -4px -4px 0px 0px #E59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
  background: #F2C409;
  box-shadow: inset -6px -6px 0px 0px #E59400;
}
.eightbit-btn--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #E59400;
}


.eightbit-btn--facebook {
  background: #3B5998;
  box-shadow: inset -4px -4px 0px 0px #273a61;
}
.eightbit-btn--facebook:hover, .eightbit-btn--facebook:focus {
  background: #37538d;
  box-shadow: inset -6px -6px 0px 0px #273a61;
}
.eightbit-btn--facebook:active {
  box-shadow: inset 4px 4px 0px 0px #273a61;
}

.eightbit-btn--twitter {
  background: #00aced;
  box-shadow: inset -4px -4px 0px 0px #048bbe;
}
.eightbit-btn--twitter:hover, .eightbit-btn--twitter:focus {
  background: #009fdb;
  box-shadow: inset -6px -6px 0px 0px #048bbe;
}
.eightbit-btn--twitter:active {
  box-shadow: inset 4px 4px 0px 0px #048bbe;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

p {
  font-size: 0.7em;
  padding: 5px 25px;
  
}

.padded {
  margin-top: 25px;
  margin-bottom: 25px;
}

.no-margin {
  margin: 0;
}

.heart {
  max-height: 16px;
}

.transition {
  transition: 0.2s all;
}

/* Offline page */

.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

.offline .runner-container {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 44px;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.offline .controller {
  background: rgba(247, 247, 247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-width: 420px) {
  .suggested-left>#control-buttons,
  .suggested-right>#control-buttons {
    float: none;
  }
  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }
  .icon-offline {
    margin: 0 0 10px;
  }
  .interstitial-wrapper {
    margin-top: 5%;
  }
  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation:landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-bottom: 90px;
  }
  .icon-offline {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 0;
  }
  .offline .runner-container {
    top: 10px;
  }
}

@media (max-width: 240px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 8px;
  }
}
